## Module 3

#### In this assignment, you will continue working on the movie data from IMDB.
- The data includes movies and ratings from the IMDB website
- Data File(s): imdb.xlsx

#### Data file contains 3 sheets:
- “imdb”: contains records of movies and ratings scraped from IMDB website
- “countries”: contains the country (of origin) names
- “directors”: contains the director names

We have loaded the data as "df" for you. Follow the instructions and finish the rest.

In [1]:
###########################################################
### EXECUTE THIS CELL BEFORE YOU TO TEST YOUR SOLUTIONS ###
###########################################################

import imp, os, sys
sol = imp.load_compiled("solutions", "./solutions.py")
sol.get_solutions("imdb.xlsx")
from nose.tools import assert_equal
from pandas.util.testing import assert_frame_equal, assert_series_equal

In [153]:
# Loading the data
import pandas as pd

xls = pd.ExcelFile('imdb.xlsx')
df = xls.parse('imdb')
df_directors = xls.parse('directors')
df_countries = xls.parse('countries')

print("Data Loading Finished.")

Data Loading Finished.

In [3]:
df.columns

Index(['movie_title', 'director_id', 'country_id', 'content_rating',
       'title_year', 'imdb_score', 'gross', 'duration'],
      dtype='object')

In [5]:
df_directors.columns

Index(['id', 'director_name'], dtype='object')

In [154]:
""" Q1: 
Join three Dataframes: df, df_directors, and df_countries with an inner join.
Store the joined DataFrames in df.

Here are the steps:
1. Merge df with df_countries and assign it df
2. Merge df with df_directors and assign it to df again
There might be errors if the merge is not in this order, so please be careful.

"""

df = pd.merge(left = pd.merge(left = df, right = df_countries, left_on="country_id", right_on="id"), left_on="director_id", right = df_directors, right_on="id")

df.shape

(178, 12)

In [11]:
assert_equal(df.shape, sol.df.shape)
print("Success!")

Success!

In [18]:
""" Q2: 
Save the first ten rows of movie titles in a variable called first10, then print it
"""

first10 = df.movie_title[:10]

In [19]:
assert_series_equal(first10, sol.first10)
print("Success!")

Success!

In [155]:
""" Q3: 
There's an extra character at the end of each movie title. 
Remove it from the data using str.replace.
And print the first ten rows of movie titles again. 
"""

for i in range(df.shape[0]):
    df.movie_title[i] = df.movie_title[i].replace("Ê", "")

In [28]:
df

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration,id_x,country,id_y,director_name
0,The Shawshank Redemption,34,1,R,1994,9.3,28341469,142,1,USA,34,Frank Darabont
1,The Green Mile,34,1,R,1999,8.5,136801374,189,1,USA,34,Frank Darabont
2,The Godfather,33,1,R,1972,9.2,134821952,175,1,USA,33,Francis Ford Coppola
3,The Godfather: Part II,33,1,R,1974,9.0,57300000,220,1,USA,33,Francis Ford Coppola
4,Apocalypse Now,33,1,R,1979,8.5,78800000,289,1,USA,33,Francis Ford Coppola
...,...,...,...,...,...,...,...,...,...,...,...,...
173,Dancer in the Dark,66,13,R,2000,8.0,4157491,140,13,Denmark,66,Lars von Trier
174,Pan's Labyrinth,42,17,R,2006,8.2,37623143,112,17,Spain,42,Guillermo del Toro
175,The Sea Inside,2,17,PG-13,2004,8.1,2086345,125,17,Spain,2,Alejandro Amenabar
176,The Secret in Their Eyes,61,16,R,2009,8.2,20167424,129,16,Argentina,61,Juan Jose Campanella
177,Mad Max: Fury Road,39,19,R,2015,8.1,153629485,120,19,Australia,39,George Miller

In [156]:
assert_frame_equal(df, sol.df)
print("Success!")

Success!

In [157]:
""" Q4:
Who is the director with the most movies? First get the number of movies per "director_name", then save the director's name
and count as a series of length 1 called "director_with_most"
"""


df.pivot_table(index="director_name", aggfunc="size")
df.director_name.value_counts()
pd.Series(df.groupby(["director_name"], sort = True).size())

director_name
Akira Kurosawa           1
Alejandro Amenabar       1
Alejandro G. Inarritu    2
Alfred Hitchcock         1
Andrew Stanton           2
                        ..
Victor Fleming           2
Vincent Paronnaud        1
Wes Anderson             1
Wolfgang Petersen        1
Woody Allen              1
Length: 117, dtype: int64

In [158]:
df.director_name.value_counts()

Christopher Nolan      7
Martin Scorsese        6
Quentin Tarantino      6
Steven Spielberg       5
Ridley Scott           4
                      ..
Morten Tyldum          1
Fritz Lang             1
John G. Avildsen       1
James McTeigue         1
Oliver Hirschbiegel    1
Name: director_name, Length: 117, dtype: int64

In [159]:
director_with_most = pd.Series(df.director_name.value_counts()[0], index=[df.director_name.value_counts().index[0]], name="director_name")

In [160]:
sol.director_with_most

Christopher Nolan    7
Name: director_name, dtype: int64

In [161]:
assert_series_equal(director_with_most, sol.director_with_most)
print("Success!")

Success!

In [162]:
"""Q5:
Save all of this director's movies and their ratings in a variable called all_movies_ratings, then print this variable.
(The director with the most movies you got from the last question.)
"""

all_movies_ratings = df[df.director_name == "Christopher Nolan"].loc[:,["movie_title", "imdb_score"]]

In [163]:
sol.all_movies_ratings

              movie_title  imdb_score
5         The Dark Knight         9.0
6               Inception         8.8
7            Interstellar         8.6
8                 Memento         8.5
9            The Prestige         8.5
10  The Dark Knight Rises         8.5
11          Batman Begins         8.3

In [117]:
assert_frame_equal(all_movies_ratings, sol.all_movies_ratings)
print("Success!")

Success!

In [165]:
pd.DataFrame(pd.DataFrame(df.iloc[rint, :]))

54    Alien
Name: movie_title, dtype: object

In [175]:
rand_goodmovie

                           158
movie_title        The Pianist
director_id                 94
country_id                   7
content_rating               R
title_year                2002
imdb_score                 8.5
gross                 32519322
duration                   150
id_x                         7
country                 France
id_y                        94
director_name   Roman Polanski

In [179]:
random_title = rand_goodmovie.iloc[0]
random_imdb_score = rand_goodmovie.iloc[5]

In [181]:
random_title.iloc[0]

'The Pianist'

In [193]:
"""Q6:
Recommend a **random** movie that has a rating of over 8.3. 
Store the random recommendation in a variable called "rand_goodmovie".
What is the title and imdb_score of your recommendation?
 
Here are the steps:
1. Query the data ('df' DataFrame) for movies with a rating over 8.3 (imdb_score > 8.3)
2. Create a random integer index location to get a single movie recommendation
3. Save the random movie recommendation in a DataFrame called 'rand_goodmovie'
4. Save the title of the random movie recommendation in a variable "random_title" and print it
5. Save the imdb_score of the random movie recommendation in a variable "random_imdb_score" and print it

"""
# Do not modify this part, it's needed for grading
import random
random.seed(0)
df = df[df.imdb_score > 8.3]
rint = random.randint(0, df.shape[0])


rand_goodmovie = pd.DataFrame(pd.DataFrame(df.iloc[rint, :])).T
random_title = rand_goodmovie.iloc[:, 0]
random_imdb_score = rand_goodmovie.iloc[:, 5]

In [194]:
rand_goodmovie

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration,id_x,country,id_y,director_name
158,The Pianist,94,7,R,2002,8.5,32519322,150,7,France,94,Roman Polanski

In [195]:
random_title

158    The Pianist
Name: movie_title, dtype: object

In [196]:
random_imdb_score

158    8.5
Name: imdb_score, dtype: object

In [197]:
from nose.tools import assert_in
assert_in(rand_goodmovie[["movie_title", "imdb_score"]].values, sol.possible_goodmovies[["movie_title", "imdb_score"]].values)
assert_equal(random_title.iloc[0], rand_goodmovie["movie_title"].iloc[0])
assert_equal(random_imdb_score.iloc[0], rand_goodmovie["imdb_score"].iloc[0])
print("Success!")

Success!